* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.menu {
    display: flex;
    flex: 1fr 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-left: 39px;
    padding-right: 39px;
}

.middlebar {
    display: flex;

}

ul li {
    display: flex;
    display: inline;
    list-style: none;
    justify-content: center;

}

ul li a {
    padding: 10px;
}

.rightbar img {
    display: flex;
    width: 2em;
}

.hero {
    display: flex;
    height: 618px;
    width: 1327;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.hero-1 {
    height: 618px;
    width: 565px;
}

.small {
    color: RGB(37, 37, 37);
    padding-left: 39px;
    vertical-align: middle;
    margin-top: 186px;

}

.first {
    font-weight: 400;
}

.right {
    font-size: 70px;
    font-weight: 700;
}

.uni {
    font-weight: 400;
    font-size: 70px;
}

.color {
    color: #D4D434;
    font-size: 70px;
}

.img {
    width: 685px;
    padding-right: 39px;
    padding-top: 30px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    height: 695px;
    width: 415px;
    margin-left: 39px;
}

.number {
    font-size: 70px;
    letter-spacing: 10px;
    padding-left: 30px;

}

.vertical-text {
    transform: rotate(-90deg);
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 24px;
    margin-top: -55px;

}

.author-1 {
    margin-top: 376px;
    padding-left: 30px;
    color: white;
    font-size: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.degination {
    padding-left: 30px;
    margin: 0px;
}

.second {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
}

.img-2 {
    width: 426px;
    height: 535px;
    margin-left: -150px;
}

.section-2 {
    width: 525px;
    height: 695px;
    margin-right: 20px;
    justify-content: center;
}

.section-2 h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 80px;
}

.section-2 p {
    font-size: 16px;
    line-height: 26px;
    color: #707070;
}

.section-2 img {
    margin-top: 30px;
}

.container-3 {
    height: 100vh;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

.div-1 {
    display: flex;
    flex-direction: column;
}

.div-3 {
    display: flex;
}

.div-4 {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 139px;
    border-right: 1px solid #b8b5b5ee;
    border-left: none;
    border-top: none;
    border-bottom: none;
    margin-left: 39px;
}

.div-4 h3 {
    font-size: 36px;
    line-height: 38px;
    font-weight: 300;
}

.div-4 p {
    margin: 0px;
}

.icons {
    display: flex;
    padding-top: 20px;
}

.icons i {
    padding-right: 30px;
    font-size: 20px;
}

.div-5 {
    width: 266px;
    height: 139px;
    padding-left: 12px;
    padding-top: 15px;
}

.div-6 {
    display: flex;
    padding-left: 39px;
}

.div-6 img {
    height: 328px;
    width: 262px;
    padding-right: 20px;
    padding-top: 95px;
}

.div-7 {
    display: flex;
    flex-direction: column;
}

.div-7 h5 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 9px;
    cursor: pointer;
}

.div-7 p {
    font-size: 14px;
    line-height: 16px;
    color: #B7B7B7;
    margin: 0px;
}

.div-8 h5 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 9px;
    cursor: pointer;
}

.div-8 p {
    font-size: 14px;
    line-height: 16px;
    color: #B7B7B7;
    margin: 0px;
}

.div-2 {
    display: flex;
    flex-direction: column;
    height: 665px;
    width: 415px;
    border: 1px solid black;
    background-color: #252525;
    margin-right: 44px;
}

.div-2 h1 {
    align-self: flex-end;
    padding-right: 20px;
}

.verticaltext-2 {
    transform: rotate(-90deg);
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 24px;
    margin-top: 10px;
    font-weight: 600;
}

.btn {
    margin-top: 350px;
    margin-right: 20px;
    padding: 10px;
    width: 30%;
    align-self: flex-end;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    position: relative;
}

.btn::before {
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 12px;
    width: 45%;
    height: 2px;
}

.btn::after {
    content: '';
    position: absolute;
    background: white;
    bottom: 1px;
    right: 3px;
    width: 45%;
    height: 2px;
}

.btn:hover:before {
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 64px;
    width: 45%;
    height: 2px;
}

.btn:hover:after {
    content: '';
    position: absolute;
    background: white;
    bottom: 1;
    left: 12px;
    width: 45%;
    height: 2px;
}

#sunglass {
    position: absolute;
    width: 403px;
    height: 505px;
    translate: 600px 72px;
    filter: drop-shadow(2px 3px 5px grey);
}

.container-4 {
    display: flex;
    height: 110vh;
    margin-top: 150px;
    overflow: hidden;
}

.section-3 {
    width: 403px;
    height: 634px;
    background-color: #252525;
    margin-left: 39px;
}

.btn-one {
    margin-top: 280px;
    margin-left: 20px;
    padding: 10px;
    width: 30%;
    align-self: flex-end;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    position: relative;
}

.btn-one::before {
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 12px;
    width: 45%;
    height: 2px;
}

.btn-one::after {
    content: '';
    position: absolute;
    background: white;
    bottom: 1px;
    right: 3px;
    width: 45%;
    height: 2px;
}

.btn-one:hover:before {
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 64px;
    width: 45%;
    height: 2px;
}

.btn-one:hover:after {
    content: '';
    position: absolute;
    background: white;
    bottom: 1;
    left: 12px;
    width: 45%;
    height: 2px;
}

.verticaltext-3 {
    transform: rotate(-90deg);
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 24px;
    margin-top: 0px;

}

.gallery {
    width: 900px;
}

.photo-1 {
    float: left;
    width: 282px;
    height: 211px;
    object-fit: cover;
}

.photo-2 {
    float: left;
    width: 282px;
    height: 211px;
    object-fit: cover;
}

.photo-3 img {
    float: left;
    width: 282px;
    height: 422px;
    object-fit: cover;
}

.photo-4 {
    width: 565px;
    height: 211px;
    object-fit: cover;
    position: relative;
    top: -211px;
    left: 0px;
}

.photo-5 {
    position: relative;
    top: -215px;
    width: 282px;
    height: 211px;
    object-fit: cover;
}

.photo-6 {
    position: relative;
    top: -430px;
    left: 282px;
    width: 565px;
    height: 211px;
    object-fit: cover;
}

.container-5 {
    display: flex;
    height: 110vh;
    margin-top: 100px;
    overflow: hidden;
}

.section-4 {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 848px;
    height: 898px;
    margin-left: 39px;
    padding-top: 70px;
}

.services {
    margin: 0px;
    width: 271px;
    height: 200px;
}

.services i {
    font-size: 24px;
}

.services h5 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #252525;
    line-height: 20px;
    font-weight: 600;
}

.services p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #252525;
}

.div-9 {
    display: flex;
    flex-direction: column;
    height: 698px;
    width: 403px;
    border: 1px solid black;
    background-color: #252525;
    margin-right: 44px;
}

.div-9 h1 {
    align-self: flex-end;
    padding-right: 20px;
}

.verticaltext-4 {
    transform: rotate(-90deg);
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 24px;
    margin-top: 97px;
    font-weight: 600;
}

.btn-3 {
    margin-top: 280px;
    margin-right: 20px;
    padding: 10px;
    width: 40%;
    align-self: flex-end;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    position: relative;
}

.btn-3::before {
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 12px;
    width: 45%;
    height: 2px;
}

.btn-3::after {
    content: '';
    position: absolute;
    background: white;
    bottom: 1px;
    right: 3px;
    width: 45%;
    height: 2px;
}

.btn-3:hover:before {
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 84px;
    width: 45%;
    height: 2px;
}

.btn-3:hover:after {
    content: '';
    position: absolute;
    background: white;
    bottom: 1;
    left: 12px;
    width: 45%;
    height: 2px;
}

.container-6 {
    display: flex;
    height: 130vh;
    margin-top: 100px;
}

.section-5 {
    width: 403px;
    height: 776px;
    background-color: #252525;
    margin-left: 39px;
}

.verticaltext-5 {
    transform: rotate(-90deg);
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 24px;
    margin-top: 167px;
}

.btn-4 {
    margin-top: 300px;
    margin-left: 20px;
    padding: 10px;
    font-style: italic;
    width: 30%;
    align-self: flex-end;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    position: relative;
}

.btn-4::before {
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 12px;
    width: 45%;
    height: 2px;
}

.btn-4::after {
    content: '';
    position: absolute;
    background: white;
    bottom: 1px;
    right: 3px;
    width: 45%;
    height: 2px;
}

.btn-4:hover:before {
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 64px;
    width: 45%;
    height: 2px;
}

.btn-4:hover:after {
    content: '';
    position: absolute;
    background: white;
    bottom: 1;
    left: 12px;
    width: 45%;
    height: 2px;
}

.testimonials {
    display: flex;
    background-color: white;
    width: 898px;
    height: 521px;
    box-shadow: 0px 0px 10px 1px black;
    align-self: center;
    margin-left: -60px;
}

.info {
    padding: 30px;
    padding-right: 0px !important;
    /* align-self: center; */
}

.info h5 {
    margin: 0px;
    color: #252525;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
}

.info span {
    margin: 0px;
    color: #b7b7b7;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2.9px;
    font-weight: 400;
}

.info img {
    display: inline;
    height: 160px;
    width: 122px;
    margin-right: 19px;
    margin-top: 120px;
}

.rightimg {
    height: 490px;
    width: 372px;
    margin-right: 20px;
    margin-top: -73px;
}

.container-7 {
    display: flex;
    height: 135vh;
    margin-top: 50px;
    overflow: hidden;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.ninetydeg {
    display: flex;
    flex-direction: column;
}

.ninetydeg img {
    height: 424px;
    width: 495px;
}

.ninetydeg p {
    transform: rotate(-90deg);
    position: absolute;
    color: #B7B7B7;
    font-size: 12px;
    line-height: 26px;
    margin-top: 190px;
    margin-left: 335px;
    letter-spacing: 6px;
}

.ninetydeg-1 {
    height: 424px;
    width: 353px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ninetydeg-1 h5 {
    color: #252525;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.ninetydeg-1 p {
    margin-bottom: 10px;
    color: #707070;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.arrow {
    align-self: flex-start;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.arrow .text {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2.6px;
    font-style: italic;
    font-weight: 400;
}

.arrow .icon {
    padding-left: 10px;
}

.arrow :hover {
    color: #D4D434;
    transition: all 2s ease;
}

.arrow .icon:hover {
    padding-left: 20px;
}

.row-1 {
    display: flex;
    margin-left: 39px;
}

.row1-info {
    display: flex;
    flex-direction: column;
    height: 321px;
    width: 353px;
    padding-left: 20px;
    justify-content: end;
}

.row-1 h3 {
    color: #252525;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.row-1 p {
    align-self: flex-end;
    margin-bottom: 10px;
    color: #707070;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.arrow-1 {
    align-self: flex-end;
    background: transparent;
    border: none;
    cursor: pointer;
}

.arrow-1 .text {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2.6px;
    font-style: italic;
    font-weight: 400;
}

.arrow-1 .icon {
    padding-left: 10px;
}

.arrow-1 :hover {
    color: #D4D434;
    transition: all 2s ease;
}

.arrow-1 .icon:hover {
    padding-left: 20px;
}

.imgbox {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 495px;
    height: 321px;
}

.imgbox img {
    margin-left: 20px;
}

.imgbox p {
    transform: rotate(-90deg);
    position: absolute;
    color: #B7B7B7;
    font-size: 12px;
    line-height: 26px;
    margin-top: 190px;
    margin-right: 335px;
    letter-spacing: 6px;
}

.div-10 {
    display: flex;
    flex-direction: column;
    height: 771px;
    width: 402px;
    background-color: #252525;
    margin-right: 44px;
}

.div-10 h1 {
    text-align: right;
    padding-right: 20px;
    padding-top: 48px;
}

.div-10 button {
    align-self: flex-end;
    margin-top: 285px;
    margin-right: 40px;
}

.container-9 {
    margin-top: 100px;
    display: flex;
    height: 150vh;
}

.div-11 {
    display: flex;
    flex-direction: column;
    height: 853px;
    width: 403px;
    background-color: #252525;
    margin-left: 39px;
}

.div-11 p {
    margin-top: -78px;
}

.div-11 button {
    align-self: flex-start;
    margin-top: 615px;
    margin-left: 36px;
}

.div-12 {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    padding-left: 20px;
}

.circle {
    border: 1px solid #e5e5e5;
    border-radius: 100%;
    padding: 40px;
    margin: 50px;
}

.pricing {
    display: flex;
    flex-direction: column;
    height: 756px;
    width: 267px;
    border: 1px solid rgb(207, 207, 207);
    gap: 20px;
    justify-content: center;
}

.pricing:hover {
    box-shadow: 0px 0px 30px 0px rgb(172, 170, 170);
}

.pricing p {
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    color: #252525;
    margin-bottom: 0;
    display: inline;
}

.pricing p:hover {
    font-size: 54px;
}

.pricing p span:hover {
    font-size: 24px;
}

.pricing .mon:hover {
    font-size: 22px;
}

.pricing p span {
    font-size: 18px;
    line-height: 20px;
    color: #707070;
    vertical-align: top;
    margin-left: -5px;
    padding-right: 3px;
    margin-bottom: 5px;
}

.pricing .mon {
    display: block;
    padding: 12px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 200;
    font-style: italic;
    color: #707070;
}

.basic {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.list {
    margin: 15px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    ;

}

.list li {
    margin-top: 25px;
    display: block;
    margin-left: -25px;
    margin-bottom: 20px;
    color: #707070;
    text-align: center;
}

.pricing-btn {
    padding: 12px;
    width: 55%;
    align-self: center;
    background-color: transparent;
    border: 1px solid black;
    letter-spacing: 2.2px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    cursor: pointer;
}

.pricing-btn:hover {
    color: #D4D434;
    border: 1px solid #D4D434;
    transition: 1.2s;
}

.container-10 {
    display: flex;
    margin-bottom: 80px;
}

.counter {
    display: block;
    margin: auto;
}

.counter img {
    width: 40%;
    display: block;
    margin: auto;
}

.counter h3 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2.7px;
    font-weight: 400;
    font-style: italic;
    color: #707070;
}

.counter h5 {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 6.9px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

#bagg {
    width: 50%;
}

#light {
    width: 30%;
}

.grid {
    display: grid;
    grid-template-rows: 211px 211px 211px;
    grid-template-columns: 282px 282px 282px;
    grid-gap: 0;
    height: 634px;
}
.grid img {
    object-fit: cover;
}
.item-1 {
    height: 211px;
    width: 282px;
}

.item-2 {
    height: 211px;
    width: 282px;
}

.item-3 {
    grid-area: 1/3/1;
    height: 422px;
    width: 282px;
}

.item-4 {
    width: 565px;
    height: 211px;
}

.item-5 {
    grid-area: 3/1;
    height: 211px;
    width: 282px;
}

.item-6 {
    grid-area: 3/2/-1/-1;
    width: 565px;
    height: 211px;
}

.container-11 {
    height: 100vh;
    margin: 0 39px;
    background-color: #252525;
    display: flex;
    padding: 30px;
}

.footer11 {
    width: 30%;
    padding-right: 30px;
}

.footer12 {
    width: 30%;
    padding-right: 30px;
}

.footer11 h1 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 36px;
    color: #D4D434;
    font-style: italic;
}

.footer11 img {
    height: 25px;
    width: 194px;
    padding-left: 3px;
    display: inline-block;
}

.footer11 p {
    font-size: 14px;
    line-height: 26px;
    color: #707070;
}

.footer11 p span {
    color: #D4D434;
}

.hr {
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 20px;
}

.footer12 a {
    color: #707070;
    font-size: 14px;
    text-decoration: none;
    line-height: 26px;
    cursor: text;
}

.footer12 a span {
    color: #D4D434;
    cursor: pointer;
}

.footer12 i {
    cursor: pointer;
}

.des1 {
    margin-top: 98px;
    margin-bottom: 20px;
}

.des2 {
    margin-bottom: 20px;
}

.footer13 {
    background-color: white;
    height: 435px;
    width: 428px;
    margin-top: 29px;
}

.footer13 h2 {
    color: #707070;
    font-size: 24px;
    font-weight: 400;
}

.form {
    margin: 35px;
}

.footer13 input {
    border: none;
    width: 100%;
    outline: none;
}
.form-btn {
    width: 55%;
}

#bttn {
    width: 45%;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 2.4px;
}

#bttn:hover {
    color: #D4D434;
    border: 1px solid #D4D434;
    transition: 1.2s;
}

.footer13 textarea {
    border: none;
    width: 100%;
    outline: none;
}